.about-text{
    font-size: 1.2rem;
    line-height: 2rem;
     @media (max-width: 768px) {
        text-align: center;
     }
}
.text-icon{
    font-size: 2rem;
}
.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4rem;
}